<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ag.statics.dao.CommentQuantityMapper">

    <select id="selectQuantity" resultType="com.ag.statics.model.CommentQuantity" parameterType="java.lang.Integer">
        SELECT id,movie_id,quantity
        FROM comment_quantity
        <where>
            movie_id = #{movie_id}
        </where>
    </select>
</mapper>